.fullScreen {
    height: 100%;
    width: 100%;
}

.history-header {
    font-family: 'Teko', sans-serif;
    width: 121px;
    height: 49px;
    font-family: Teko;
    font-size: 34px;
    color: #929292;
    margin: 0;
    padding: 7px 0;
}