.Sidebar {
    height: 100%;
    min-height: 100vh;
    background-color: #41484b;
}

.CreateTriggerButton {
    width: calc(100%/12);
    /*height: 32px;*/
    color: #ffffff;
    background-color: #ff9600;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 31px;
    margin-left: calc(100%/24);
    cursor: pointer;
}
