.Sidebar {
    height: calc(100vh - 48px);
    background-color: #41484b;
}

.CreateTriggerButton {
    width: 138px;
    height: 32px;
    color: #ffffff;
    background-color: #ff9600;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 31px;
    margin-left: 38px;
    cursor: pointer;
}
