.Sidebar {
    height: 100vh;
    background-color: #41484b;
}

.SidebarLabel {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    color: #b4b4b4;
}

.SidebarIcon {
    margin: 30px 10px 10px;
}

.CreateTriggerButton {
    width: 138px;
    height: 32px;
    color: #ffffff;
    background-color: #ff9600;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 31px;
    margin-left: 26px;
}