.SidebarActiveLabel {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    color: #d49d01;
    padding-bottom: 21px;
}

.SidebarInactiveLabel {
    font-family: Lato;
    font-size: 14px;
    font-weight: bold;
    color: #b4b4b4;
    padding-bottom: 21px;
}

.SidebarIcon {
    height: 24px;
    width: 24px;
    margin: 30px 10px 10px;
}

.ActiveButton {
    background-color: #2c3437;
    position: relative;
}

.ActiveButton:before {
    content: "";
    position: absolute;
    top: 50%;
    right: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 0 11px 8px;
    border-color: transparent transparent transparent #2c3437;
    margin-top: -6px;
    z-index: 1;
}

.Button {
    height: 100px;
    cursor: pointer;
}
